{% extends 'authorization/auth layout.html' %}

{% block title %}Login{% endblock title %}
    
{% block styles %}<link rel="stylesheet" href="/static/css/authorization styles/authorization style.css">{% endblock styles %}
    
{% block content %}
    <main class="main">
    <div class="form">
        <h1>Login</h1>

        <form id="auth_form" action="/authorization" method="post"> 
        <input type="text" class="user_data_form_el" placeholder="Username" name="username">
        <input type="password" class="user_data_form_el" placeholder="Password" name="password">
    </form>
    
    <p id="error_message" style="color: red; margin: 0px 80px;"></p>
       
    <button id="submit" type="submit" form="auth_form">Let's start!</button>

    <div class="reg">
        <p style="display: inline-block" for="to_reg">New to FRPokedex?</p>
        <a href="registration">Sign up!</a>
    </div>
    </div>
    </main>
    <script src="/static/js/convert_JSON.js"></script>
{% endblock content %} 
    