{% extends 'authorized layout.html' %}

{% block title %}Pokemons{% endblock title %}
    
{% block styles %}<link rel="stylesheet" href="/static/css/pokemon page style.css">{% endblock styles %}

{% block content %}
    <main class="main">
        <h1>Pokemons</h1>

        <div id=search_bar>
            <form>
                <label for="select_list" style="color: #000070">Search by type: </label>
                <select class="search_utils" id="select_list" name="pokemon_types" multiple size="1">
                    {% for type in ["Normal", "Fighting", "Poison", "Ground", "Flying", "Bug", "Rock", "Ghost", "Steel", "Fire", "Water", "Grass", "Ice", "Electric", "Psychic", "Dragon", "Dark"] %}
                        <option value={{type}}>{{type}}</option>
                    {% endfor %}
                </select>
                
                <input id=search_btn type="submit" value="🔍">
            </form>

            <form id=search_form>
                <input class="search_utils" id=search_field type="text" placeholder="Pokemon" name="pokemon_name">
                <input id=search_btn type="submit" value="🔍">
            </form>
        </div>

        <div id=container>
            {% for pokemon, pic in pokemons %}
                <div id=pokemon_card>
                    <a href="../pokemons/{{pokemon}}"><img id=pokemon_pic src="/static/pics/{{pic}}"></a>
                    <p id=pokemon_name>{{pokemon}}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
