{% extends 'authorized layout.html' %}

{% block title %}Pokemons{% endblock title %}
    
{% block styles %}<link rel="stylesheet" href="/static/css/pokemon page style.css">{% endblock styles %}

{% block content %}
    <main class="main">
        <h1>Pokemons</h1>

        <div id=search_bar>
            <h3>---All---</h3>
            <form id=search_form>
            <input id=search_field type="text" placeholder="Pokemon" name="pokemon_name">
            <input id=search_btn type="submit" value="🔍">
            </form>
        </div>

        <div id=container>
            {% for pokemon, pic in pokemons %}
                <div id=pokemon_card>
                    <a href="../pokemons/{{pokemon}}"><img id=pokemon_pic src="/static/pics/{{pic}}"></a>
                    <p id=pokemon_name>{{pokemon}}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
