{% extends 'layout.html' %}

{% block title %}Registration{% endblock title %}
    
{% block styles %}<link rel="stylesheet" href="/static/registration style.css">{% endblock styles %}
    
{% block content %}
    <main class="main">
    <div class="form">
        <h1>Registration</h1>

    <form id="registration_form" action="/authorized" method="post">   <!--action -- link to the server to which we send a request-->
        <input type="text" class="user_data_form_el" placeholder="Username" name="username">    <!--id - to style, name - to submit the form, placeholder - visible to user-->
        <input type="email" class="user_data_form_el" placeholder="Email" name="email">
        <input type="phone" class="user_data_form_el" placeholder="Phone" name="phone">    
        <input type="password" class="user_data_form_el" placeholder="Password" name="password">
        <input type="password" class="user_data_form_el" placeholder="Confirm password" name="password">
    </form>
    <button id="submit" type="submit" form="registration_form">Let's start!</button>
    </div>
    </main>
{% endblock content %}